<div>
{% if session.get("username") %}
    <span class="text-white me-2">{{ session.username }}</span>

    <a href="/flowers" class="btn btn-outline-light btn-sm">Flowers</a>

    <a href="/preview" class="btn btn-outline-light btn-sm">
        My Bouquet
        {% if session.get("bouquet") %}
            <span class="badge bg-danger ms-1">
                {{ session["bouquet"]|length }}
            </span>
        {% endif %}
    </a>

    <a href="/history" class="btn btn-outline-light btn-sm ms-2">History</a>

    <a href="/logout" class="btn btn-light btn-sm">Logout</a>

{% else %}
    <a href="/login" class="btn btn-light btn-sm">Login</a>
    <a href="/register" class="btn btn-outline-light btn-sm">Register</a>
    <a href="/flowers" class="btn btn-outline-light btn-sm">Flowers</a>
    <a href="/recommended" class="btn btn-outline-light btn-sm">Recommended</a>
{% endif %}
</div>
</body>
</html>