{% extends "base.html" %}
{% block content %}

{% if not session.get("user_id") %}

<h2 class="mb-3">ตัวอย่างช่อดอกไม้</h2>

<div class="row">
    {% for bouquet in bouquets %}
    <div class="text-center mb-5">
    </div>
    <div class="col-md-4 mb-5">
        <div class="gift-card">
            <div class="gift-image">
                <img src="{{ url_for('static', filename=bouquet.image) }}">
            </div>

            <div class="gift-body">
                <h5 class="gift-title">{{ bouquet.name }}</h5>
                <p class="gift-desc">{{ bouquet.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="text-center mt-4">
    <a href="/login" class="btn btn-dark btn-lg">
        Login เพื่อจัดช่อดอกไม้
    </a>
</div>

{% else %}

<h2>ยินดีต้อนรับ {{ session.username }}</h2>
<p>ไปจัดช่อดอกไม้ของคุณกันเลย</p>

<a href="/flowers" class="btn btn-danger">
    เลือกดอกไม้
</a>

{% endif %}

{% endblock %}